anyio==3.5.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
black==21.12b0
bleach==4.1.0
bs4==0.0.1
category-encoders==2.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
cssselect==1.1.0
cycler==0.11.0
debugpy==1.5.1
decorator==4.3.0
defusedxml==0.7.1
entrypoints==0.3
executing==0.8.2
feedfinder2==0.0.4
feedparser==6.0.8
filelock==3.4.2
fonttools==4.28.5
graphviz==0.20
idna==3.3
importlib-resources==5.4.0
ipykernel==6.7.0
ipython==8.0.1
ipython-genutils==0.2.0
jedi==0.18.1
jieba3k==0.35.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-server==1.13.4
jupyterlab==3.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kiwisolver==1.3.2
lxml==4.7.1
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
newspaper3k==0.2.8
nltk==3.6.7
notebook==6.4.8
numpy==1.22.1
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
pip==21.2.4
platformdirs==2.4.1
prometheus-client==0.13.0
prompt-toolkit==3.0.25
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.6
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
regex==2022.1.18
requests==2.27.1
requests-file==1.5.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
Send2Trash==1.8.0
setuptools==58.0.4
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
stack-data==0.1.4
statsmodels==0.13.2
terminado==0.13.0
testpath==0.5.0
threadpoolctl==3.0.0
tinysegmenter==0.3
tldextract==3.1.2
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
twitter==1.19.3
typing_extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
wget==3.2
wheel==0.37.1
zipp==3.7.0
# packages in environment at /Users/Kevin/opt/anaconda3/envs/comp47350py38:
#
# Name                    Version                   Build  Channel
anyio                     3.5.0                    pypi_0    pypi
appnope                   0.1.2                    pypi_0    pypi
argon2-cffi               21.3.0                   pypi_0    pypi
argon2-cffi-bindings      21.2.0                   pypi_0    pypi
asttokens                 2.0.5                    pypi_0    pypi
attrs                     21.4.0                   pypi_0    pypi
babel                     2.9.1                    pypi_0    pypi
backcall                  0.2.0                    pypi_0    pypi
beautifulsoup4            4.10.0                   pypi_0    pypi
black                     21.12b0                  pypi_0    pypi
bleach                    4.1.0                    pypi_0    pypi
bs4                       0.0.1                    pypi_0    pypi
ca-certificates           2021.10.26           hecd8cb5_2  
category-encoders         2.4.0                    pypi_0    pypi
certifi                   2021.10.8        py38hecd8cb5_2  
cffi                      1.15.0                   pypi_0    pypi
charset-normalizer        2.0.10                   pypi_0    pypi
click                     8.0.3                    pypi_0    pypi
cssselect                 1.1.0                    pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
debugpy                   1.5.1                    pypi_0    pypi
decorator                 5.1.1                    pypi_0    pypi
defusedxml                0.7.1                    pypi_0    pypi
entrypoints               0.3                      pypi_0    pypi
executing                 0.8.2                    pypi_0    pypi
feedfinder2               0.0.4                    pypi_0    pypi
feedparser                6.0.8                    pypi_0    pypi
filelock                  3.4.2                    pypi_0    pypi
fonttools                 4.28.5                   pypi_0    pypi
idna                      3.3                      pypi_0    pypi
importlib-resources       5.4.0                    pypi_0    pypi
ipykernel                 6.7.0                    pypi_0    pypi
ipython                   8.0.1                    pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
jedi                      0.18.1                   pypi_0    pypi
jieba3k                   0.35.1                   pypi_0    pypi
jinja2                    3.0.3                    pypi_0    pypi
joblib                    1.1.0                    pypi_0    pypi
json5                     0.9.6                    pypi_0    pypi
jsonschema                4.4.0                    pypi_0    pypi
jupyter-client            7.1.2                    pypi_0    pypi
jupyter-core              4.9.1                    pypi_0    pypi
jupyter-server            1.13.4                   pypi_0    pypi
jupyterlab                3.2.8                    pypi_0    pypi
jupyterlab-pygments       0.1.2                    pypi_0    pypi
jupyterlab-server         2.10.3                   pypi_0    pypi
kiwisolver                1.3.2                    pypi_0    pypi
libcxx                    12.0.0               h2f01273_0  
libffi                    3.3                  hb1e8313_2  
lxml                      4.7.1                    pypi_0    pypi
markupsafe                2.0.1                    pypi_0    pypi
matplotlib                3.5.1                    pypi_0    pypi
matplotlib-inline         0.1.3                    pypi_0    pypi
mistune                   0.8.4                    pypi_0    pypi
mypy-extensions           0.4.3                    pypi_0    pypi
nbclassic                 0.3.5                    pypi_0    pypi
nbclient                  0.5.10                   pypi_0    pypi
nbconvert                 6.4.1                    pypi_0    pypi
nbformat                  5.1.3                    pypi_0    pypi
ncurses                   6.3                  hca72f7f_2  
nest-asyncio              1.5.4                    pypi_0    pypi
newspaper3k               0.2.8                    pypi_0    pypi
nltk                      3.6.7                    pypi_0    pypi
notebook                  6.4.8                    pypi_0    pypi
numpy                     1.22.1                   pypi_0    pypi
openssl                   1.1.1m               hca72f7f_0  
packaging                 21.3                     pypi_0    pypi
pandas                    1.3.5                    pypi_0    pypi
pandocfilters             1.5.0                    pypi_0    pypi
parso                     0.8.3                    pypi_0    pypi
pathspec                  0.9.0                    pypi_0    pypi
patsy                     0.5.2                    pypi_0    pypi
pexpect                   4.8.0                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pillow                    9.0.0                    pypi_0    pypi
pip                       21.2.4           py38hecd8cb5_0  
platformdirs              2.4.1                    pypi_0    pypi
prometheus-client         0.13.0                   pypi_0    pypi
prompt-toolkit            3.0.25                   pypi_0    pypi
ptyprocess                0.7.0                    pypi_0    pypi
pure-eval                 0.2.2                    pypi_0    pypi
pycparser                 2.21                     pypi_0    pypi
pygments                  2.11.2                   pypi_0    pypi
pyparsing                 3.0.6                    pypi_0    pypi
pyrsistent                0.18.1                   pypi_0    pypi
python                    3.8.12               h88f2d9e_0  
python-dateutil           2.8.2                    pypi_0    pypi
python-graphviz           0.20                     pypi_0    pypi
pytz                      2021.3                   pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
pyzmq                     22.3.0                   pypi_0    pypi
readline                  8.1.2                hca72f7f_1  
regex                     2022.1.18                pypi_0    pypi
requests                  2.27.1                   pypi_0    pypi
requests-file             1.5.1                    pypi_0    pypi
scikit-learn              1.0.2                    pypi_0    pypi
scipy                     1.7.3                    pypi_0    pypi
seaborn                   0.11.2                   pypi_0    pypi
send2trash                1.8.0                    pypi_0    pypi
setuptools                58.0.4           py38hecd8cb5_0  
sgmllib3k                 1.0.0                    pypi_0    pypi
six                       1.16.0                   pypi_0    pypi
sniffio                   1.2.0                    pypi_0    pypi
soupsieve                 2.3.1                    pypi_0    pypi
sqlite                    3.37.0               h707629a_0  
stack-data                0.1.4                    pypi_0    pypi
statsmodels               0.13.2                   pypi_0    pypi
terminado                 0.13.0                   pypi_0    pypi
testpath                  0.5.0                    pypi_0    pypi
threadpoolctl             3.0.0                    pypi_0    pypi
tinysegmenter             0.3                      pypi_0    pypi
tk                        8.6.11               h7bc2e8c_0  
tldextract                3.1.2                    pypi_0    pypi
tomli                     1.2.3                    pypi_0    pypi
tornado                   6.1                      pypi_0    pypi
tqdm                      4.62.3                   pypi_0    pypi
traitlets                 5.1.1                    pypi_0    pypi
twitter                   1.19.3                   pypi_0    pypi
typing-extensions         4.0.1                    pypi_0    pypi
urllib3                   1.26.8                   pypi_0    pypi
wcwidth                   0.2.5                    pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
websocket-client          1.2.3                    pypi_0    pypi
wget                      3.2                      pypi_0    pypi
wheel                     0.37.1             pyhd3eb1b0_0  
xz                        5.2.5                h1de35cc_0  
zipp                      3.7.0                    pypi_0    pypi
zlib                      1.2.11               h4dc903c_4  
